.area {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:#363479;
    text-align: center;}

.temperature {
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
    color:#5C69E7;
}

.page {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background:#CDD1FF;
    padding: 50px;
    margin-top: 40px;}

#city {
    padding: 20px 280px 20px 10px;
    border: 1px solid #d5e1e2;
    border-radius: 6px;
    }

::placeholder {
    font-size: 16px;
    border: 0px;
}

.button {
    padding: 20px;
    border-radius: 6px;
    border: 0px;
    background: #759aec;}

#footer {
    padding: 50px 0px 30px 0px;
    color:white;}

ul{list-style-type: none;
    border:0px ; 
    border-radius:30px;
    background-color:#F8F9FA;
    padding: 15px 5px;
    padding-top: 5px;
    line-height: 23px;
    margin-right: 150px;
    margin-left:150px;
    }

li{list-style-type: none;
    color: #363479;
    display: inline-block;
    margin-left: 60px;}

.day-time{color: #7A79B9;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;}
    
#icon{font-size: 80px;
     padding-top: 40px;
     height:  20px;}

.temp-condition{
    text-align:center;
    position:relative;
}

#condition{
 text-align: center;
 position: relative;
 color: #434280;
 font-size: 20px;
 top: -10px;
 left: 10px;
}

.weather-forecast{
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
}

.temperature-min{font-size: 13px;
    opacity:0.5
}
.weather-forecast-date{
    font-size:16px;
    opacity:0.5
}
.temperature-max{
    font-size: 13px;
}
#weather-image{margin-left: -6px;}

.weather-forecast-day {
    margin: 38px;
    text-align: center;}




